html, body {
	height: 100%;
    margin, padding: 0;
    font-family: Geneva,Tahoma,Verdana,sans-serif;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
}

.container {
    display: flex;
	justify-content: center;
	align-items: center;
}

.rotate_clockwise {
	-webkit-animation:clockwise 0.35s ease-in-out; // No more infinite
    -moz-animation:clockwise 0.35s linear;
    animation:clockwise 0.35s linear;
}

.rotate_counterclockwise {
	-webkit-animation:counterclockwise 0.35s ease-in-out; // No more infinite
    -moz-animation:counterclockwise 0.35s linear;
    animation:counterclockwise 0.35s linear;
}

@-moz-keyframes clockwise {
    100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); }
}
@-webkit-keyframes clockwise {
    100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); }
}
@keyframes clockwise { 
    100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } 
}

@-moz-keyframes counterclockwise {
    100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); }
}
@-webkit-keyframes counterclockwise {
    100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); }
}
@keyframes counterclockwise { 
    100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } 
}